.consumer-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px  auto;
}

.consumer-container header{
    display: flex;
    align-items: center;
}

.consumer-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.consumer-container header img{
    height: 64px;
}

.consumer-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 760px;
    transition: border-color 0.2s;
}

.consumer-container header button:hover{
    border-color: #999;
}

.consumer-container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}

.consumer-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
}

.consumer-container ul li{
    background: rgb(233, 229, 229);
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.consumer-container ul li button{
    width: 120%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.consumer-container ul li button:hover{
    filter: brightness(90%);
}

.consumer-container ul li strong{
    display:block;
    margin-bottom: 16px;
    color: #41414d;
}

.consumer-container ul li p + strong {
    margin-top: 32px;
}

.consumer-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}