.newdish-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .newdish-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .newdish-container .content section {
    width: 100%;
    max-width: 380px;
  }
  
  .newdish-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
  }
  
  .newdish-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
  }
  
  .newdish-container .content form {
    width: 100%;
    max-width: 450px;
  }
  
  .newdish-container .content form input,
  .newdish-container .content form textarea {
    margin-top: 8px;
  }
  
  select {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    align-items: center;
  }
  
  